<.header class="justify-center text-center">
  <span class="font-bold text-xl">New Real Estate</span>
</.header>

<.flash_group flash={@flash} />

<div class="flex justify-center">
  <div class="w-full max-w-xl">
    <.real_estate_form
      changeset={@changeset}
      action={@action}
      categories={@categories}
      types={@types}
      subtypes={@subtypes}
      selected_category={@selected_category}
      selected_type={@selected_type}
    />
  </div>
</div>