<.header class="justify-center text-center">
  <span class="font-bold text-xl">Edit Resource {@resource.name}</span>
</.header>

<div class="flex justify-center">
  <div class="w-full max-w-xl">
    <.resource_form changeset={@changeset} action={~p"/resources/#{@resource}"} />
  </div>
</div>
