<.header class="justify-center text-center">
  <span class="font-bold text-xl">Edit Dictionary</span>
</.header>

<.flash_group flash={@flash} />

<div class="flex justify-center">
  <div class="w-full max-w-xl">
    <.dictionary_form changeset={@changeset} action={~p"/dictionaries/#{@dictionary}"} />
  </div>
</div>