<.header class="justify-center text-center">
  <span class="font-bold text-xl">Edit Team</span>
</.header>

<.flash_group flash={@flash} />

<div class="flex justify-center">
  <div class="w-full max-w-xl">
    <.team_form changeset={@changeset} action={~p"/teams/#{@team}"} />
  </div>
</div>
