<.header>
  Edit Team {@team.id}
  <:subtitle>Use this form to manage team records in your database.</:subtitle>
</.header>

<.team_form changeset={@changeset} action={~p"/teams/#{@team}"} />

<.back navigate={~p"/teams"}>Back to teams</.back>
