<.header>
  New Team
  <:subtitle>Use this form to manage team records in your database.</:subtitle>
</.header>

<.team_form changeset={@changeset} action={~p"/teams"} />

<.back navigate={~p"/teams"}>Back to teams</.back>
