<.header>
  New Permission
  <:subtitle>Use this form to manage permission records in your database.</:subtitle>
</.header>

<.permission_form changeset={@changeset} action={~p"/permissions"} />

<.back navigate={~p"/permissions"}>Back to permissions</.back>
