<.header class="justify-center text-center">
  <span class="font-bold text-xl">Edit User {@user.email}</span>
</.header>

<div class="flex justify-center">
  <div class="w-full max-w-xl">
    <.user_form changeset={@changeset} action={~p"/users/#{@user}"} />
  </div>
</div>
